.avatar {
  height: 200px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--color-gray-norm);
}

.avatar-select {
  border: 2px solid var(--color-yellow-norm);
}