.settings {
  min-width: 250px;
  max-width: 400px;
  min-height: 140px;

  margin: 0 auto;
}

.avatar {
  height: 120px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--color-gray-norm);
}

.avatar-select {
  border: 2px solid var(--color-yellow-norm);
}