{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "@vue/airbnb"
  ],
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "import/extensions": "off",
    "import/no-unresolved": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}