<div class="card">
    <h1 class="card__title">Reset your password</h1>
    <form accept-charset="UTF-8" @submit.prevent="submit" v-show="!success">
      <z-alert 
        type="error" 
        :show="form.error"
        :dismissible="true"
        @close="form.error = null;"
      >
        {{ form.error }}
      </z-alert>

      <z-text-field
        :icon="false"
        :validationRules="form.email.rules"
        @validation="form.email.status = $event"
        autofocus="autofocus"
        label="Enter your email address and we will send you a link to reset your password."
        name="email"
        placeholder="Enter your email address"
        ref="email"
        tabindex="1"
        type="email"
        v-model="form.email.value"
      />

      <br>
      <z-button tabindex="2" type="submit" class="base-button">Send password reset email</z-button>
    
    </form>
    <div v-show="success">
      <p>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder. </p>
      <br>
      <router-link to="/" class="link-button">Return to sign in</router-link>
    </div>

</div>