<z-container class="skill-card size-xl no-border">
  <div class="skill-card__image">
    <img :src="pathSkill(skillId)">
  </div>
  <div class="skill-card__title">
    <h3 class="display-3">{{ skill.title }}</h3>
    author <strong>{{ skill.author }}</strong><br>
    <span class="points">{{ skill.points }}</span> points
  </div>
  <table class="skill-card__description">
    <tbody>
      <tr>
        <td colspan="2"><span class="description">{{ skill.description }}</span></td>
      </tr>
      <tr v-for="(resource, key) in skill.resources" > 
        <td>resource {{ key }}</td>
        <td><span :class="key">{{ resource }}</span></td>
      </tr>
      <tr>
        <td>◔ duration</td>
        <td><strong>{{ skill.duration }}</strong></td>
      </tr>
      <tr>
        <td>⭮ cooldown</td>
        <td><strong>{{ skill.cooldown }}</strong></td>
      </tr>
      <tr>
        <td>⇆ changeTurn</td>
        <td><strong>{{ skill.changeTurn }}</strong></td>
      </tr>
      <tr>
        <td>minimum level</td>
        <td><strong>{{ skill.minLevel }}</strong></td>
      </tr>
      <tr>
        <td>limit copy</td>
        <td><strong>{{ skill.limitCopy }}</strong></td>
      </tr>
      <tr>
        <td>triggering event</td>
        <td><strong>{{ skill.triggeringEvent }}</strong></td>
      </tr>
    </tbody>
  </table>
  <div class="skill-card-buttons">
    <z-button 
      v-if="isSkillUnlocked(skill.id)"
      :disabled="isAdd"
      @click="addInSkillSet(skill.id)"
    >
      ADD ( -{{ skill.points	}} points )
    </z-button>
    <z-button 
      v-if="!isSkillUnlocked(skill.id)"
      :disabled="isBuy"
      @click="buySkill(skill.id)"
    >
      BUY ( -{{ skill.priceInGold }} gold )
    </z-button>
  </div>
  <slot></slot>
</z-container>