.skill-card {
  background-color: black;
}

.skill-card {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr 30px;
  grid-gap: 0.5em;
  grid-template-areas: 
      "I T" 
      "D D"
      "B B";
  justify-content: flex-start;
  justify-items: flex-start;

  width: 100%;
}

.skill-card__image {
  grid-area: I;
}

.skill-card__title {
  grid-area: T;
}

.skill-card__description {
  grid-area: D;
}

.skill-card-buttons {
  grid-area: B;
}

.energy_1 {
  color: var(--color-yellow-norm);
}

.energy_2 {
  color: var(--color-red-norm);
}

.energy_3 {
  color: var(--color-green-norm);
}

.description {
  font-size: 1.3em;
}

.points {
  font-size: 1.2em;
  font-weight: bold;
}