<z-loading :show=!loading>
  <table>
    <thead>
      <tr>
        <th>rank</th>
        <th>avatar</th>
        <th>nickname</th>
        <th>level</th>
        <th>link</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(user) in users" :key="user.id">
        <td> {{ user.rank }} </td>
        <td> <img :src="pathAvatar(user.avatar)" alt="" width="50px"> </td>
        <td> {{ user.nickname }} </td>
        <td> {{ user.level }} </td>
        <td>
          <router-link :to="{ name: 'profile', params: { userId: user.id }}">profile</router-link>
        </td>
      </tr>
    </tbody>
  </table>
</z-loading>