@import "../../styles/typography.css";
@import "../../styles/link.css";
@import "../../styles/card.css";

.social {
  margin: 10px;
  width: 60px;
} 

.new-acc {
  text-align: center;
}

.password-reset {
  float: right;
}