@import "../../styles/typography.css";
@import "../../styles/link.css";
@import "../../styles/button.css";
@import "../../styles/card.css";
@import "../../styles/alert.css";

label {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.social {
  margin: 10px;
  width: 60px;
} 

.new-acc {
  text-align: center;
}

.password-reset {
  float: right;
}