.sidebar__title {
  width: 100%;
  text-align: center;
}

.sidebar__form {
  width: 100%;
  position: relative;
  /**/
  display: grid;
  grid-gap: 2vh;
}

.sidebar__footer {
  width: 100%;
  text-align: center;
}

.form_forgot-password {
  text-align: right;
  font-size: 0.8rem;
  margin-top: 0.5vh;
}

.form_or {
  text-align: center;
  margin-top: 0.5vh;
}

.form_socials-networks {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.form_socials-networks img {
  height: 9vh;
  margin-right: 1vh;
}

.form_socials-networks img:last-child {
  margin-right: 0;
}