<z-container class="size-m">

  <h1 class="display-1">Join Duel</h1>
  <p>Create your personal account</p>

  <form 
    accept-charset="UTF-8" 
    @submit.prevent="submit" 
    @keyup.enter="submit" 
    novalidate
  >
    <z-alert 
      type="error" 
      :icon="true"
      :show="form.error"
      :dismissible="true"
      @close="form.error = null;"
    >
      {{ form.error }}
    </z-alert>
    
    <z-text-field
      :validationRules="form.nickname.rules"
      v-model="form.nickname.value"
      @validation="form.nickname.status = $event"
      autofocus="autofocus"
      label="Nickname"
      name="nickname"
      ref="nickname"
      tabindex="1"
    />

    <z-text-field
      :validationRules="form.email.rules"
      v-model="form.email.value"
      @validation="form.email.status = $event"
      label="Email"
      name="email"
      ref="email"
      tabindex="2"
      type="email"
    />

    <z-text-field
      :validationRules="form.password.rules"
      v-model="form.password.value"
      @validation="form.password.status = $event"
      label="Password"
      name="password"
      ref="password"
      tabindex="3"
      type="password"
    />

    <p class="info">By clicking “Create an account” below, you agree to our terms of service and privacy statement. We’ll occasionally send you account related emails
    </p>
    <z-button tabindex="4" type="submit">Create an account</z-button>
  </form>
</z-container>