<div class="card">
  <h1 class="title">Join Duel</h1>
  <p>Create your personal account</p>

  <form accept-charset="UTF-8" @submit.prevent="submit">
    <p v-if="formError" class="error">{{ formError }}</p>
    
    <label for="nickname">Nickname</label>
    <input
      tabindex="1"
      type="text"
      name="nickname"
      id="nickname"
      autofocus="autofocus"
      autocapitalize="off"
      autocorrect="off"
      class="base-input"
      :class="nicknameStyles"
      v-model.trim="nickname"
      @input="updateNickname()"
    >
    <p v-if="nicknameError" class="error arrow-error">{{ nicknameError }}</p>

    <label for="email">Email</label>
    <input
      tabindex="2"
      type="email"
      name="email"
      id="email"
      autocapitalize="off"
      autocorrect="off"
      class="base-input"
      :class="emailStyles"
      v-model="email"
      @input="updateEmail()"
    >
    <p v-if="emailError" class="error arrow-error">{{ emailError }}</p>

    <label for="password">Password</label>
    <input 
      tabindex="3" 
      type="password" 
      name="password" 
      id="password" 
      autocapitalize="off" 
      autocorrect="off" 
      class="base-input"
      :class="passwordStyles"
      v-model="password"
      @input="updatePassword()"
    >
    <p v-if="passwordError" class="error arrow-error">{{ passwordError }}</p>

    <p class="info">By clicking “Create an account” below, you agree to our terms of service and privacy statement. We’ll occasionally send you account related emails
    </p>
    <button tabindex="4" type="submit" class="base-button">Create an account</button>
  </form>
</div>