.sidebar_title {
  width: 100%;
  text-align: center;
}

.sidebar_form {
  width: 100%;
  position: relative;
  /**/
  display: grid;
  grid-gap: 2vh;
}

.sidebar_footer {
  width: 100%;
  text-align: center;
}