<div>
  <z-header-menu class="navigation" />
  <z-container class="size-l">
    <z-text-field
      label="You message"
      name="msg"
      type="text"
      v-model="message"
    />

    <z-button @click="send(message)">send</z-button>
    <z-button @click="add()">add lobby</z-button>
    <z-button @click="del()">del lobby</z-button>

    <ul class="chat">
      <li v-for="message in messages.slice().reverse()">
        {{ message.user ? message.user.slice(0, 5).toUpperCase() : null }} → {{ message.message }}
      </li>
    </ul>
  </z-container>
</div>