.tabs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px, 1fr;
}

.tabs_title_list {
  display: flex;
  justify-content: center
}

.tabs_title {
  border: 1px solid aliceblue;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.tabs_title--active{
  color: var(--color-text-heading);
  background-color: var(--color-gray-norm);
}