
<div class="overview">
  <div class="nickname">
    <span class="title display-1">
      <span class="level">{{ user.level }}</span>{{ user.nickname }}
    </span>
  </div>
  <div class="avatar">
    <img :src="pathAvatar(user.avatar)" :alt="user.avatar">
  </div>
  <div class="I">
    <span class="display-3">
      <span class="gold"><strong>{{ user.gold }} </strong></span> 
      <span class="point"><strong>{{ user.points }}</strong></span>
    </span>
  </div>
  <div class="parameters">
    <h2 class="display-2">ParameterS</h2>
    <p>health  {{ userParameters.health }}</p>
    <p>force  {{ userParameters.force }}</p>
    <p>armor  {{ userParameters.armor }}</p>
    <p>rage  {{ userParameters.rage }}</p>
    <p>rage  {{ userParameters.rage }}</p>
    <p>block  {{ userParameters.block }}</p>

    <h2 class="display-2">ResourceS</h2>
    <h3 class="display-3">Energy</h3>
    <p>red {{ userParameters.resources.energy_1 }}</p>
    <p>green {{ userParameters.resources.energy_2 }}</p>
    <p>blue {{ userParameters.resources.energy_3 }}</p>
  </div>
  <div class="skillset">
      <img 
        v-for="(id, index) in user.skillSet"
        :src="pathSkill(id)"
        :key="index"
      >
      <div v-if="user.skillSet.length === 0">
        <p>Sorry, no elements yet.</p>
      </div>
  </div>
</div>
