.overview {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 'N N'
                       'A E'
                       'A P'
                       'S S';
  grid-gap: 0.5rem;

  justify-content: center;
  /* justify-items: center; */
  align-items: flex-start;

  width: 50vw;
  /* height: 90vh; */
}

.avatar {
  grid-area: A;
}

.avatar img {
  width: 100%;
}

.nickname {
  grid-area: N;
}

.nickname .title{
  font-size: 3rem;
}

.level {
  font-size: 0.55em;
  border: 2px solid var(--color-yellow-norm);
  padding: 0;
  padding-left: 0.1em;
  top: -0.2em;
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
  border-radius: 5px;
  width: 1.8em;
  text-align: center; 
}

.estate {
  grid-area: E;
}

.parameters {
  grid-area: P;
}

.skillset {
  grid-area: S;
}