.base-alert {
  background-color: var(--background-0);
  background-position: left 8px center;
  background-repeat: no-repeat;
  border-color: var(--color-gray-lite);
  border-top: 4px solid;
  border: 1px solid;
  margin-top: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 24px;
  width: 100%;
}

.button-close {
  background-color: var(--background-2);
  border: 0;
  display: inline-block;
  float: right;
  height: 24px;
  position: relative;
  right: -16px;
  width: 24px;
}

.button-close::before, 
.button-close::after {
  background-color: var(--color-gray-lite);
  content: "";
  height: 2px;
  left: 5px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 14px;
}

.button-close::before {
  transform: rotate(45deg);
}

.button-close::after {
  transform: rotate(-45deg);
}

.button-close:hover {
  background-color: var(--color-gray-bright);
  cursor: pointer;
}

.button-close:focus {
  outline: none;
}

.button-close:hover::before, 
.button-close:hover::after {
  background: var(--color-red-lite);
}

.icon {
  padding-left: 32px;
}

.icon-success {
  background-image: url(../../assets/status_icons/success.png);
}

.icon-error {
  background-image: url(../../assets/status_icons/error.png);
}

.icon-info {
  background-image: url(../../assets/status_icons/info.png);
}

.icon-warning {
  background-image: url(../../assets/status_icons/warning.png);
}

.color-success {
  border-color: var(--color-green-norm);
}

.color-error {
  border-color: var(--color-red-norm);
}

.color-info {
  border-color: var(--color-blue-norm);
}

.color-warning {
  border-color: var(--color-yellow-norm);
}