.base-alert {
  background-color: var(--background-0);
  background-repeat: no-repeat;
  background-position: left 8px center;

  border: 1px solid;
  border-top: 4px solid;
  border-color: var(--color-gray);

  padding: 5px;
  padding-left: 24px;
  padding-right: 24px;

  margin-top: 8px;
}

.base-alert-button {
  float: right;

  background: none;
  border: none;
  padding: 0;

  position: relative;
  right: -16px;
  margin-left: 28px;

  height: 24px;
  width: 24px;

  font-size: 12pt;
}

.base-alert-button:hover {
  background-color: var(--background-2);
  cursor: pointer;
}

.base-alert-button:focus {
  outline: none;
}

.success {
  border-color: var(--color-green-focus);
}

.error {
  border-color: var(--color-red-focus);
}

.info {
  border-color: var(--color-blue-focus);
}

.warning {
  border-color: var(--color-yellow-focus);
}

.icon {
  background-repeat: no-repeat;
  background-position: left 8px center;
  padding-left: 32px;
}

.success-icon {
  background-image: url(../../assets/success.png);
}

.error-icon {
  background-image: url(../../assets/error.png);
}

.info-icon {
  background-image: url(../../assets/info.png);
}

.warning-icon {
  background-image: url(../../assets/warning.png);
}