@import "../../styles/typography.css";
@import "../../styles/input.css";
@import "../../styles/link.css";
@import "../../styles/button.css";
@import "../../styles/card.css";
@import "../../styles/alert.css";

.tooltip {
  top: -25px;
  position: relative;
}

input {
  margin-bottom: 20px;
}
