@import "../../styles/typography.css";
@import "../../styles/input.css";
@import "../../styles/link.css";
@import "../../styles/button.css";
@import "../../styles/card.css";
@import "../../styles/alert.css";
@import "../../styles/list.css";

label {
  margin-top: 15px;
  display: inline-block;
}

.info {
  border-top: 1px solid var(--color-yellow);
  border-bottom: 1px solid var(--color-yellow);
  padding-top: 8px;
  padding-bottom: 8px; 
}