@import "../../styles/typography.css";
@import "../../styles/input.css";
@import "../../styles/link.css";
@import "../../styles/button.css";
@import "../../styles/card.css";

.social {
  margin: 10px;
  width: 60px;
} 

.new-acc {
  text-align: center;
}

.base-input {
  margin-bottom: 20px;
}

.base-button {
  margin-bottom: 20px;
}

.password-reset {
  float: right;
}