.conteiner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5em;
  grid-template-areas: 
      "U S";

  justify-content: flex-start;
  justify-items: flex-start;
  
  width: 100%;
}

.user {
  grid-area: U;
}

.skills {
  grid-area: S;
}


/************************************************/
/*   user SkillSet mixins  */
/************************************************/

.slot:hover .delete-skill-in-set {
  border: 0;
  display: block;
  background-color: var(--background-2);
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: -40px;
  margin-left: 60px;
  cursor: pointer;
}

.delete-skill-in-set {
  display: none;
}

.delete-skill-in-set::before, 
.delete-skill-in-set::after {
  background-color: var(--color-gray-lite);
  content: "";
  height: 2px;
  left: 5px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 18px;
}

.delete-skill-in-set::before {
  transform: rotate(45deg);
}

.delete-skill-in-set::after {
  transform: rotate(-45deg);
}

.delete-skill-in-set:hover {
  background-color: var(--color-gray-bright);
  cursor: pointer;
}

.delete-skill-in-set:focus {
  outline: none;
}

.delete-skill-in-set:hover::before, 
.delete-skill-in-set:hover::after {
  background: var(--color-red-lite);
}




/*****************************************************************/

.user-avatar {
  width: 100px;
}