.conteiner {
  display: flex;
  flex-direction: row;
}

.user {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  width: 390px;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.user__title-level {
  font-size: 0.8em;
  border: 2px solid var(--color-yellow-norm);
  border-radius: 5px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

.user__avatar {
  /* max-height: 150px; */
  width: 60%;
}

.user__skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
}

.user__skill--empty {
  background-color: var(--background-1);
  border: 2px solid var(--color-gray-norm);
  margin: 10px;
  width: 72px;
  height: 72px;
  cursor: pointer;
}

.user__skill--lock {
  background-image: url(../../assets/locked.png);
  cursor: help;
}

.skill {
  background-color: var(--background-1);
  border: 2px solid var(--color-gray-norm);
  margin: 10px;
  width: 72px;
  height: 72px;
  cursor: pointer;
}

.skill .skill__close{
  display: none;
}

.skill:hover .skill__close{
  display: block;
  position: relative;
  top: -25px;
  left: 50px;
  cursor: pointer;
}

.grid {
  margin: 20px;
  display: flex;
}

.grid__skill {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}

.grid__skill img{
  width: 100%;
}

.grid__skill img{
  transform: scale(0.9);
}

.grid__skill img:hover{
  transform: scale(1);
}

.grid__skil--unlock {
  border: 2px solid var(--color-yellow-norm);
}

.grid__skil--lock {
  border: 2px solid var(--color-gray-norm);
  filter: grayscale(100%);
}

.grid__skil--lock::after {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  bottom: 50px;
  left: 20px;
  position: relative;
  background-image: url(../../assets/locked.png);
}

.grid__skill--selected {
  border: 4px var(--color-green-bright);
  border-style: solid double solid;
}

.grid__skil--pick{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #ffbf00 transparent transparent transparent;

  position: absolute;
}

.p {
 color: var(--color-green-lite);
}

.m {
 color: var(--color-red-lite);
}