<z-loading :show="Object.keys(skills).length === 0">

  <div class="conteiner">
    <div class="user">
      <h2>
        <span class="user__title-level">{{ level }}</span>{{ nickname }}</h2>
        <z-user-estate></z-user-estate>
      <br>
      <img 
        :src="pathAvatarIcon(avatar)" 
        :alt="avatar" 
        class="user__avatar"
      >

      <div class="user__parameters">
        <z-user-parametrs></z-user-parametrs>
      </div>

      <div class="user__skills">
        <z-skill-set>
          <z-skill
            v-for="(id, index) in skillSet" 
            :key="index" 
            :id="id"
            class="pointer"
            @click="pressSkill(id)" 
          >
            <button 
              @click="delInSkillSet(id)" 
              class="skill__close"
            ></button>
          </z-skill>
        </z-skill-set>
      </div>

    </div>


    <div class="skills">

      <z-skill-card :skill="getSkillInfo(pickSlill)"></z-skill-card>
      
      <div class="skills__grid grid">
        <div class="skills__info-filters">FILTER</div>

        <z-skill-grid>
          <z-skill
            v-for="(skill, index) in skills" 
            :key="index" 
            :id="skill.id"
            :class="[
              'pointer',
              skillSet.some(id => id === skill.id) ? 'skill-in-set' : '',
              skillsUnlocked.indexOf(skill.id) === -1 ? 'skill-lock' : '',
              skill.id === pickSlill ? 'skill-pick' : '',
            ]"
            @click="pressSkill(skill.id)" 
          ></z-skill>
        </z-skill-grid> 
      
    </div>
  </div>


  </div>
</z-loading>