<z-loading :show="Object.keys(skills).length === 0">

  <div class="conteiner">
    <div class="user">
      <h2>
        <span class="user__title-level">{{ this.$store.state.user.level }}</span>{{ this.$store.state.user.nickname }}</h2>
      <span>skill points =
        <strong>{{ this.$store.state.user.points }}</strong>
      </span>
      <span>golds =
        <strong>{{ this.$store.state.user.gold }}</strong>
      </span>
      <br>
      <img 
        :src="pathAvatar($store.state.user.avatar)" 
        :alt="$store.state.user.avatar" 
        class="user__avatar"
      >
      <div class="user__skills">
        <div 
          v-for="(idSkill, index) in getSkillsSet" 
          :key="index" 
          :class="[idSkill === -2 ? 'user__skill--lock' : 'user__skill-empty', 'skill']"
        >
          <template v-if="idSkill >= 0">
            <img 
              :alt="idSkill" 
              :src="pathSkill(idSkill)" 
              class="user__skill" 
              @click="pressSkill(idSkill)" 
            />
            <button 
              @click="delInSkillSet(idSkill)" 
              class="skill__close"
            >
              X
            </button>
          </template>
        </div>
      </div>
      <div class="user__parameters">
        <table>
          <tbody>
            <tr v-for="(parameter, key) in this.$store.state.user.parameters">
              <td>
                <span v-if="key === 'force'">💪</span>{{ key }}</td>
              <td>
                <strong>{{ parameter }}</strong>
                <strong>
                  <span class="p"> +10</span>
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="skills">

      <z-skill-card :skill="getSkillInfo(pickSlill)" />

    <div class="skills__info-filters">FILTER</div>
    <div class="skills__grid grid">
      
      <div
        v-for="(skill) in skills" 
        :key="skill.id" 
        :class="[
          skillSet.some(id => id === skill.id) ? 'grid__skill--selected' : '',
          skillsUnlocked.indexOf(skill.id) >= 0 ? 'grid__skil--unlock' : '',
          skillsUnlocked.indexOf(skill.id) === -1 ? 'grid__skil--lock' : '',
          'grid__skill'
        ]"
      >
        <div :class="[skill.id === pickSlill ? 'grid__skil--pick' : '']"></div>
        <img 
          :alt="skill.id" 
          :src="pathSkill(skill.id)" 
          @click="pressSkill(skill.id)"
        >
      </div>
    </div>
  </div></div>


  </div>
</z-loading>