<div class="conteiner">
  <div class="user">
    <img 
      :src="pathAvatarIcon(avatar)" 
      :alt="avatar" 
      class="user-avatar"
    >
    <z-user-nickname></z-user-nickname>
  

    <z-user-parametrs></z-user-parametrs>

    <z-skill-set>
      <z-skill
        v-for="(id, index) in skillSet" 
        :key="index" 
        :id="id"
        class="pointer"
        @click="pressSkill(id)" 
      >
        <button 
          @click="delInSkillSet(id)" 
          class="delete-skill-in-set"
        ></button>
      </z-skill>
    </z-skill-set>

  </div>


  <div class="skills">
    
    <z-user-estate></z-user-estate>

    <z-skill-card :skillId="this.skillId"></z-skill-card>
    
      <div>FILTER</div>

      <z-skill-grid>
        <z-skill
          v-for="(skill, index) in skills" 
          :key="index" 
          :id="skill.id"
          :class="[
            'pointer',
            skillSet.some(id => id === skill.id) ? 'skill-in-set' : '',
            skillsUnlocked.indexOf(skill.id) === -1 ? 'skill-lock' : '',
            skill.id === skillId ? 'skill-pick' : '',
          ]"
          @click="pressSkill(skill.id)" 
        ></z-skill>
      </z-skill-grid> 
    
  </div>
</div>