<z-container class="size-m">
    <h1 class="display-1 title">Change password for {{ nickname }}</h1>
    <form accept-charset="UTF-8" @submit.prevent="submit" novalidate>
      <z-alert 
        type="error" 
        :show="error"
        :dismissible="true"
        @close="error = null;"
      >
        {{ error }}
      </z-alert>

      <p>Password must contain one letter, one number, and be at least 7 characters long.</p>

      <z-text-field
        :validationRules="form.password.rules"
        @validation="form.password.status = $event"
        label="Password"
        name="password"
        ref="password"
        tabindex="1"
        type="password"
        v-model="form.password.value"
      />

      <z-text-field
        :validationRules="form.confirmPassword.rules"
        @validation="form.confirmPassword.status = $event"
        label="Confirm password"
        name="confirmPassword"
        ref="confirmPassword"
        tabindex="2"
        type="password"
        v-model="form.confirmPassword.value"
      />
      <br>
      <z-button tabindex="3" type="submit" class="base-button">Change password</z-button>
    </form> 
</z-container>