.base-input-group {
  margin-top: 14px;
}

.base-input {
  color: var(--color-text);
  background-color: var(--background-0);
  background-repeat: no-repeat;
  background-position: right 8px center;

  border: 2px solid;
  border-color: var(--color-yellow-lite);
  border-image: linear-gradient(to right, var(--color-yellow-lite), var(--color-gray-bright));
  border-image-slice: 1;
  
  outline: none;

  padding: 6px 30px 6px 8px;
  margin-top: 6px;

  font-size: 1em;

  width: 100%;
}

.base-input::-webkit-input-placeholder {
  color: var(--color-gray-bright);
}

.base-input:hover::-webkit-input-placeholder {
  color: var(--color-gray-norm);
}

.base-input:hover {
  border-image: none;
  border-color: var(--color-yellow-lite);
}

.base-input:focus {
  border-color: var(--color-yellow-norm);
  outline: 3px solid var(--color-yellow-norm);
  outline-style: outset;
}

.base-input:disabled {
  border-image: none;
  border-color: var(--color-gray-norm);
}





.base-input-group--check-loading {
  background-image: url(../../assets/status_icons/rolling_white.gif);
}

.base-input-group--check-successful {
  background-image: url(../../assets/status_icons/success.png);
}

.base-input-group--check-error {
  background-image: url(../../assets/status_icons/error.png);
}



.base-input-group__error {
  background-color: var(--background-0);

  border: 2px solid;
  border-color: var(--color-red-norm);

  padding-left: 10px;
  padding-bottom: 5px;

  margin-top: 8px;
}

.base-input-group__error::before {
  content: '';
  display: block;

  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--color-red-norm);

  position: relative;
  top: -10px;
}