<div class="navigation">
  <router-link
    class="navigation__item"
    :to="{ path: `/game` }"
  >
    Play
  </router-link>
  <router-link
    class="navigation__item"
    :to="{ path: `/${myId}` }"
  >
    Profile
  </router-link>
  <router-link
    class="navigation__item"
    :to="{ path: `/skills` }"
  >
    Skills
  </router-link>
  <router-link
    class="navigation__item"
    :to="{ path: `/scoreboard` }"
  >
    Scoreboard
  </router-link>
  <router-link
    class="navigation__item"
    :to="{ path: `/shop` }"
  >
    Shop
  </router-link>
  <router-link
    class="navigation__item"
    :to="{ path: `/chat` }"
  >
    Chat
  </router-link>
  <router-link
    class="navigation__item"
    :to="{ path: `/settings` }"
  >
    Settings
  </router-link>
  <z-button
    class="navigation__item"
    @click="signOut()"
  >
    Sign out
  </z-button>
</div>