.navigation {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12%);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  justify-content: center; 
  width: 100%;
}

.navigation__item {
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--color-gray-norm);
}