.base-input {
  color: var(--color-text);
  background-color: var(--background-0);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 0.2vh solid;
  border-color: var(--color-text);
  border-radius: 0.5vh;
  outline: none;
  padding: 1vh 4vh 1vh 1.5vh;
  width: 100%;
  height: 5vh;
  font-size: 1rem;
}

.base-input::-webkit-input-placeholder {
  color: var(--color-gray-bright);
}

.base-input:hover::-webkit-input-placeholder {
  color: var(--color-gray-lite);
}

.base-input:hover {
  border-color: var(--color-green-lite);
}

.base-input:focus {
  border-color: var(--color-blue-norm);
}

.base-input:disabled {
  border-color: var(--color-gray-norm);
}

.check-loading {
  background-image: url(../../assets/icons/status/rolling_black.gif);
}

.check-successful {
  background-image: url(../../assets/icons/status/success.png);
}

.check-error {
  background-image: url(../../assets/icons/status/error.png);
}

.base-input-group__error {
  background-color: var(--background-0);
  border: 0.2vh solid;
  border-color: var(--color-red-norm);
  padding: 0.2vh 4vh 0.2vh 1.5vh;
  margin-top: 0.65555vh;
  border-radius: 0.5vh;
}

.base-input-group__error::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 0.6vh solid transparent;
  border-right: 0.6vh solid transparent;
  border-bottom: 0.6vh solid var(--color-red-norm);
  position: relative;
  top: -1vh;
  left: 104%;
}