.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 'N N'
                       'C .';

  height: 100vh;

  background-color: var(--background-2);
}

.navigation {
  grid-area: N;

  display: grid;
  grid-template-columns: repeat(auto-fill, 15%);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-content: center; 

  width: 100%;
}

.navigation__item {
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--color-gray-norm);
}

.content {
  grid-area: C;
  background-color: var(--background-1);
}