<z-loading :show="myId === 0">
  <div class="profile">
    <div class="navigation">
      <z-button class="navigation__item" @click="">Play</z-button>
      <router-link 
        class="navigation__item" 
        :to="{ path: `/${myId}` }"
      >
        Profile
      </router-link>
      <router-link 
        class="navigation__item" 
        :to="{ path: `/${myId}/skills` }"
      >
        Skills
      </router-link>
      <router-link 
        class="navigation__item" 
        :to="{ path: `/${myId}/scoreboard` }"
      >
        Scoreboard
      </router-link>
      <router-link 
        class="navigation__item" 
        :to="{ path: `/${myId}/settings` }"
      >
        Settings
      </router-link>
      <z-button class="navigation__item" @click="signOut()">Sign out</z-button>
    </div>
    <div class="content">
      <router-view/>
    </div>
  </div>
</z-loading>