<div class="profile card">
  <div class="profile__navigation">
    <z-button class="navigation__item" @click="">Play</z-button>
    <router-link class="navigation__item" to="/123">Overview</router-link>
    <router-link class="navigation__item" to="/123/skills">Skills</router-link>
    <router-link class="navigation__item" to="/123/setting">Setting</router-link>
    <router-link class="navigation__item" to="/scoreboard">Scoreboard</router-link>
    <z-button class="navigation__item" @click="signOut()">Sign out</z-button>
  </div>
  <div class="profile__body">
    <router-view/>
  </div>
</div>