img, video, audio, canvas, input, select, button, progress {
  max-width: 100%;
}

input[type="file"], input[type="submit"] {
  white-space: pre-wrap;
}

progress, input[type="range"] {
  width: 100%;
}

@supports (--moz-appearance: none) {
  input[type="number"] {
    width: 100%;
  }
}