table {
  background-color: var(--background-0);
  border-collapse: collapse;
  border: 1px solid var(--color-gray-norm);
}

th {
  background-color: var(--background-1);
  color: var(--color-text);
}

th, td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  border-bottom: 1px solid var(--color-gray-norm);
}

tr:hover {
  background-color: var(--background-2);
}