table {
  background-color: var(--background-0);
  border-collapse: collapse;
  border: 0.2vh solid var(--color-gray-norm);
  width: 100%;
  height: 100%;
}

th {
  background-color: var(--background-1);
  color: var(--color-text);
}

th, td {
  padding-top: var(--padding-2);
  padding-bottom: var(--padding-2);
  padding-left: var(--padding-3);
  padding-right: var(--padding-3);
  text-align: left;
  border-bottom: 0.2vh solid var(--color-gray-norm);
}

tr:hover {
  background-color: var(--background-2);
}