@font-face {
  font-family: King;
  /* src: url(../../../statics/fonts/DwarvenAxe.ttf); font todo */
  /* src: url(../../statics/fonts/King Arthur Legend.ttf); */
  /* src: url(../../statics/fonts/Rudelsberg.ttf); */
  /* src: url(../../statics/fonts/Sebaldus-Gotisch.ttf); */
  /* src: url(../../statics/fonts/Sketch Gothic School.ttf); */
}

html {
  font-family: sans-serif; /* font todo */
}

h1, h2, h3, h4, 
.title, 
.subtitle {
  font-family: monospace; /* font todo */
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--color-text-heading);
  margin: 0;
}

strong, label {
  font-weight: 600;
  color: var(--color-text-strong);
}

small {
  font-size: 0.7em;
  font-weight: 400;
}

p {
  padding: 0;
  margin: 0;
}

.display-1 {
  font-size: 2.5rem;
}

.display-2 {
  font-size: 2.0rem;
}

.display-3 {
  font-size: 1.8rem;
}

.display-4 {
  font-size: 1.5rem;
}