.error {
  background-color: var(--background-0);

  border: 2px solid;
  border-color: var(--color-red);

  padding-left: 10px;
  padding-bottom: 5px;

  margin-top: 8px;
}

.arrow-error::before {
  content: ''; 
  display: block;

  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--color-red);

  position: relative;
  top: -10px;
}