button {
  background-color: var(--background-0);
  color: hsl(360,100%,30%);

  border: 3px solid;
  border-image: linear-gradient(to right, #250000, #800002, #250000);
  border-image-slice: 1;

  padding: 4px;
  margin-top: 4px;
  font-size: 14pt;
  outline: none;
  width: 100%;
  cursor: pointer;
}

button:hover {
  
}

button:disabled {
}