:root {
  --color-text: hsl(40, 40%, 90%);
  --color-text-strong: hsl(40, 60%, 65%);
  --color-text-heading: hsl(40, 65%, 65%);
  /* #e0b96c */
  --background-0: hsl(0, 0%, 0%);
  --background-1: hsl(0, 0%, 5%);
  --background-2: hsl(0, 0%, 7%);
  --color-red-lite: hsl(360, 80%, 60%);
  /* #eb4747 */
  --color-red-norm: hsl(355, 80%, 30%);
  --color-red-dark: hsl(355, 80%, 20%);
  --color-gray-lite: hsl(220, 16%, 36%);
  /* #4d576a */
  --color-gray-norm: hsl(220, 16%, 30%);
  --color-gray-bright: hsl(220, 16%, 22%);
  /* #2f3541 */
  --color-yellow-lite: hsl(40, 60%, 70%);
  --color-yellow-norm: hsl(40, 60%, 65%);
  --color-yellow-bright: hsl(40, 70%, 60%);
  /* #e0b152 */
  --color-blue-lite: hsl(180, 25%, 80%);
  --color-blue-norm: hsl(180, 30%, 70%);
  --color-blue-bright: hsl(180, 40%, 60%);
  /* #70c2c2 */
  --color-green-lite: hsl(92, 28%, 65%);
  --color-green-norm: hsl(92, 49%, 58%);
  /* #8ad24b */
  --color-green-bright: hsl(92, 60%, 56%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  background-color: var(--background);
  color: var(--color-text);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: fixed;
  background-color: var(--background-1);
  background-image: url("../assets/background.png");
}

.no-portrait {
  display: none;
  text-align: center;
  color: #fff;
}

.no-portrait_img {
  display: block;
  background-size: cover;
  background-image: url('../assets/switch_orientation.png');
  margin: 0 auto;
  width: 15vh;
  height: 15vh;
}

/* 
@media screen and (orientation: portrait) {
  #app {
    display: none;
  }

  .no-portrait {
    display: block;
  }
}

@media screen and (orientation: landscape) {
  .no-portrait {
    display: none;
  }
} */

@import "./reset/typography.css";
@import "./reset/link.css";
@import "./reset/table.css";
@import "./reset/list.css";