.base-input {
  color: var(--color-text);
  background-color: var(--background-0);
  background-repeat: no-repeat;
  background-position: right 8px center;

  border: var(--border);
  border-image: linear-gradient(to right, var(--color-yellow), var(--background-1));
  border-image-slice: 1;
  
  outline: none;

  padding: 6px 30px 6px 8px;
  margin-top: 6px;

  font-size: 14pt;

  width: 100%;
  box-sizing: border-box;
}

.base-input::-webkit-input-placeholder {
  color: var(--color-gray);
}

.base-input:hover::-webkit-input-placeholder {
  color: var(--color-gray-hover);
}

.base-input:hover {
  border-image: none;
  border-color: var(--color-yellow-hover);
}

.base-input:focus {
  border-color: var(--color-yellow-focus);
  outline: 3px solid var(--color-yellow);
  outline-style: outset;
}

.base-input:disabled {
  border-image: none;
  border-color: var(--color-gray);
}

.is-autocheck-loading {
  background-image: url(../assets/Rolling-1s-16px-1.gif);
}

.is-autocheck-successful {
  background-image: url(../assets/success.png);
}

.is-autocheck-error {
  background-image: url(../assets/error.png);
}