@font-face {
  font-family: King;
  /* src: url(../../statics/fonts/King Arthur Legend.ttf); */
  src: url(../../statics/fonts/DwarvenAxe.ttf);
  /* src: url(../../statics/fonts/Rudelsberg.ttf); */
  /* src: url(../../statics/fonts/Sebaldus-Gotisch.ttf); */
  /* src: url(../../statics/fonts/Sketch Gothic School.ttf); */
}

h1, h2, h3, h4 {
  font-family: King, -apple-system, BlinkMacSystemFont,"Segoe UI",Helvetica,Arial;
  font-weight: 400;
  color: var(--color-text-heading);
  margin-top: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 38pt;
}

h2 {
  font-size: 34pt;
}

h3 {
  font-size: 30pt;
}

h4 {
  font-size: 26pt;
}

strong, label {
  font-weight: 600;
  color: var(--color-text-strong);
}

small {
  font-size: 10pt;
  font-weight: 400;
}

p {
  padding: 0;
}