h1, h2, h3, h4 {
  font-weight: bold;
  color: var(--color-text-heading);
  margin-top: 0;
}

h1 {
  font-size: 28pt;
}

h2 {
  font-size: 26pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 22pt;
}

strong, label {
  font-weight: 600;
  color: var(--color-text-strong);
}
