.profile-header {
  display: grid;
  grid-template-columns: 1fr 38vh;
  grid-template-rows: 1fr;
  grid-gap: var(--padding-2);
}

.user-menu {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  max-width: 100%;
}

.profile-menu {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  max-width: 100%;
}

.setting-menu {
  grid-column: 3;
  grid-row: 1;
  width: 100%;
  max-width: 100%;
}