.profile-header {
  display: grid;
  grid-template-columns: 38vh 1fr 16vh;
  grid-template-rows: 1fr;
  grid-gap: 0.5%;
  overflow: hidden;
}

.user-menu {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.profile-menu {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.setting-menu {
  grid-column: 3;
  grid-row: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}