.title {
  font-size: 1.2rem;
}

.title-size-1 {
  font-size: 2rem;
}

.title-size-2 {
  font-size: 1.5rem;
}

.title-size-3 {
  font-size: 1rem;
}

.title-size-4 {
  font-size: 1.2rem;
}