.base-button {
  background-color: var(--background-0);
  border-color: var(--color-red-norm);
  border-image-slice: 1;
  border-image: linear-gradient(to right, hsl(0, 100%, 7%), hsl(360, 100%, 25%), hsl(0, 100%, 7%));
  border: 3px solid;
  color: var(--color-red-norm);
  cursor: pointer;
  font-family: King;
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
  outline: none;
  padding: 1px;
  width: 100%;
}

.base-button:hover,
.base-button:focus {
  color: var(--color-text-strong);
  border-color: var(--color-yellow-lite);
  border-image: linear-gradient(to right, hsl(40, 60%, 20%), hsl(40, 65%, 65%), hsl(40, 60%, 20%));
  border-image-slice: 1;
}

.base-button:disabled {
  border-color: var(--color-gray-norm);
  border-image: none;
  border: 2px solid;
  color: var(--color-gray-norm);
  cursor: auto;
}