.container {
  display: grid;
  grid-template-columns: auto 40vh;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.paralax {
  background-color: var(--color-white);
  display: block;
  grid-column: 1;
  grid-row: 1;
}

.sidebar {
  background-color: var(--color-gray-ccc);
  grid-column: 2;
  grid-row: 1;
  /**/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 14vh 7vh 62vh 5vh;
  align-items: start;
  justify-items: center;
  grid-gap: var(--padding-3);
  height: 100%;
  width: 100%;
  padding: 3vh;
}

.sidebar__logo {
  grid-column: 1;
  grid-row: 1;
}